{{template "header" .}}
<h1 align="center">{{.DataHeader}}</h1>
{{template "verticalmenu"}}

<div class="data">

{{if .OnlyMessage}}
<h3 class="message">{{.Message}}</h3>
{{end}}

{{if .IsRegistration}}
{{template "registration"}}
{{end}}

{{if .IsTransaction}}
{{end}}

{{if .IsPayments}}
{{end}}
</div>

{{template "footer"}}