{{define "verticalmenu"}}
<div id="navbarvertical">
		<ul>
			<li><a href="/registration">Register Person</a></li>
			<li><a href="/transactions">Milk Transactions</a></li>
			<li><a href="/payments">Payments</a></li>
			<li><a href="/balance">Balance</a></li>
		</ul>
</div>
{{end}}